div[data-list-item="arrow"] > div::before {
	content: "⇀";
	margin-left: 1rem;
}

@font-face {
	font-family: Adversal;
	src:
		url("./fonts/Adversal.woff") format("woff"),
		url("./fonts/Adversal.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: AsfenRegular;
	src:
		url("./fonts/Asfen-Regular.woff") format("woff"),
		url("./fonts/Asfen-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: DTRandomDisplayRegular;
	src:
		url("./fonts/DTRandomDisplay-Regular.woff") format("woff"),
		url("./fonts/DTRandomDisplay-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: PPMondwestRegular;
	src:
		url("./fonts/PPMondwest-Regular.woff") format("woff"),
		url("./fonts/PPMondwest-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: RemboyRegular;
	src:
		url("./fonts/Remboy-Regular.woff") format("woff"),
		url("./fonts/Remboy-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: SKFemmeFatale;
	src:
		url("./fonts/SK-Femme-Fatale.woff") format("woff"),
		url("./fonts/SK-Femme-Fatale.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: SolideMirageEtroit;
	src:
		url("./fonts/SolideMirage-Etroit.woff") format("woff"),
		url("./fonts/Adversal.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: WonkyRegular;
	src:
		url("./fonts/Wonky-Regular.woff") format("woff"),
		url("./fonts/Wonky-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: WriggleRegular;
	src:
		url("./fonts/Wriggle-Regular.woff") format("woff"),
		url("./fonts/Wriggle-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
