div[data-list-item="arrow"] > div::before {
	content: "⇀";
	margin-left: 1rem;
}

fieldset > div[data-ui="Box"] > div[data-ui="Grid"] > div[data-ui="Stack"] > div > div[draggable] {
	left: 0.7rem !important;
	width: 2rem !important;
	height: 2rem !important;
	border-radius: unset !important;
	background: hsla(333.6585365853658, 51.898734177215225%, 84.50980392156863%, 0.6) !important;
	top: 0.7rem !important;
	border: 1px solid black !important;
}

fieldset > div[data-ui="Box"] > div[data-ui="Grid"] > div[data-ui="Stack"] > div > div[draggable] * {
	color: black !important;
	visibility: visible !important;
	background: transparent !important;
}

.preview-letter {
	font-family: "Farce";
}

@font-face {
	font-family: Farce;
	src:
		url("./fonts/FarceRegular.woff") format("woff"),
		url("./fonts/FarceRegular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Farce;
	src:
		url("./fonts/FarceBold.woff") format("woff"),
		url("./fonts/FarceBold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Farce;
	src:
		url("./fonts/FarceLight.woff") format("woff"),
		url("./fonts/FarceLight.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Farce;
	src:
		url("./fonts/FarceMedium.woff") format("woff"),
		url("./fonts/FarceMedium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
